.product-image {
  max-height: 150px !important; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}

/* Style for the label */
label {
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

/* Style for the input field */
input[type="number"] {
  width: 100px; /* Adjust the width as needed */
  padding: 8px;
  border: 1px solid #fd6b6b;
  background-color: #f6eaea;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

/* Style for the input field when it's in focus (clicked) */
input[type="number"]:focus {
  border-color: #007bff; /* Change to your desired focus color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional box shadow on focus */
}

/* Define custom styles for the button */
.custom-button {
  background-color: transparent; /* Make the background transparent */
  border-color: #007bff; /* Set the border color to the primary color */
  color: #d400ff; /* Set the text color to the primary color */
  /* You can add more styles as needed */
  width: 95px;
  height: 40px;
  
}
